body {
    margin: 0;
    text-align: center;
    background-color: #e4ebf5;
    font-family: "Cormorant", Arial, Helvetica, serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: "Lavishly Yours", cursive;
    font-size: 80px;
}

h2 {
    font-family: "Josefin Slab", serif;
    font-size: 40px;
}

h3 {
    font-family: "Josefin Slab", serif;
    font-size: 30px;
}

hr {
    border: dotted #c6c8d4 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #e4ebf5;
    font-family: "Cormorant", serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: bisque;
}


/*layout*/

.nav-bar {
    background-image: linear-gradient(#10223f, #e4ebf5);
    padding: 10px 0 10px;
}

.top-container {
    position: relative;
    padding-top: 173px;
}

.middle-container {
    margin: 0 0 150px 0;
}

.bottom-container {
    background-color: #10223f;
    padding: 50px 0 50px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}


/*words*/

.statement {
    font-family: "Tangerine", serif;
    font-size: 40px;
}

.skill-description {
    font-style: italic;
    font-size: 1.1rem;
}

.text-list {
    width: 50%;
    margin: 46px auto 60px;
    text-align: left;
    font-style: italic;
    font-size: 1.2rem;
}

.footer-link {
    font-family: "Cormorant", serif;
    font-size: 1.1rem;
}

.copyright {
    color: #a7b2c2;
    font-size: 1rem;
    padding-top: 10px;
}


/*image*/

.saturn-image {
    position: absolute;
    right: 30%;
    top: 160px;
}

.astronaut-image {
    position: absolute;
    left: 25%;
    top: 440px;
}

.capricorn-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.aquarius-image {
    width: 20%;
    float: right;
    margin-left: 30px;
}

.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    background: #10223f;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #41659e;
    text-decoration: none;
}